'.source.gfm':
  'github link':
    'prefix': 'samps'
    'body': '[Sampson Crowley](https://github.com/SampsonCrowley)'
'.source.ruby':
  'code organizer':
    'prefix': '#=='
    'body': """
      # == Constants ============================================================

      # == Attributes ===========================================================

      # == Extensions ===========================================================

      # == Relationships ========================================================

      # == Validations ==========================================================

      # == Scopes ===============================================================

      # == Callbacks ============================================================

      # == Class Methods ========================================================

      # == Instance Methods =====================================================
      """
